body{
	background: #C6C4A4;
}
.adaptar{
	width: 100%;
	padding: 15px;
}
.color1{
	text-align:  center;
	color: red;
}
.principal{
	text-align: center;

}

.centro{
	padding: 10px;
}
.mapa{
	padding: 20px;
}